<body class="container mt-5 bg-dark">
  <div class="text-end ml-5"> 
    <a class="w-50 text-decoration-none" href="http://localhost:8000/">💒 <b class="badge bg-danger">HOME</b></a>
   <a class="w-50 text-decoration-none" href="http://localhost:8000/form">📝<b class="badge bg-primary">FORM</b></a> 
 </div>
<% if (productos.length > 0) { %>
    
    <table class="table table-dark border border-2 table-striped-columns rounded-bottom rounded-3 mt-5 w-100 ">
      <thead>
        <tr>
          <th scope="col" class="text-primary">ID</th>
          <th scope="col" class="text-danger">Producto</th>
          <th scope="col" class="text-success">Precio</th>
          <th scope="col" class="text-light ">Imagen</th>
        </tr>
      </thead>
      <tbody>
         
      <% productos.forEach((producto , key)=>{ %>
       
        <tr>
          <th scope="row"  class="p-3"><b class="badge bg-primary  p-3 mt-3"><%= key+1 %></b> </th>
          <td class="p-3"><b class="badge bg-danger p-3 mt-3"><%= producto.titulo %> </b></td>
          <td class="p-3"><b class="badge bg-success p-3 mt-3">$<%= producto.precio %> </b></td>
          <% if (producto.image){ %> 
            <% console.log(producto.image) %> 
            <td class="p-3"><img width="100px" height="100px" class="p-3 " src="<%= producto.image %>"></td>
          <% } else {%> 
            <td class="p-3"><img width="100px" height="100px" class="p-3" src=<%= producto.url %> ></td>
          <% } %> 
        </tr>
        <% }) %>
        
      </tbody>
    </table>
  
    <% } else { %> 
      <div class="t">
      <h1 class="text-center  mt-5 h3 text-secondary  text-opacity-10 fs-1 mb-5 ">No existen productos</h1>
      <h2 class="text-center text-white"><b class="spinner-border text-secondary  text-opacity-10 m-5" role="status"></b</h2>
      
       
      </b>
    </div>
      <% } %> 
    </body>